name: Auto-Merge-Rules
on:
  schedule:
    - cron: '0 22,10 * * *'
  push:
   branches:
    - main


  workflow_dispatch:

env:
  TOKEN: ${{ secrets.TOKEN }}
  CHAT_ID: ${{ secrets.CHAT_ID }}

jobs:
  myjob:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Update rules
        run: |
          bash ./AdGuardRules/main.sh
          bash ./AdKillRules/main.sh
          bash ./DNSFilter/main.sh
      - name: Git push assets to github
        run: |
          git init
          git config --local user.name "actions"
          git config --local user.email "action@github.com"
          git branch -m main
          git add --all
          git commit -m "Updated at $(date)"
          # git remote add origin "https://github.com/Cats-Team/AdRules_dev.git"
          #git remote add origin "https://${{ secrets.CODING_ACCOUNT }}:${{ secrets.CODING_PASSWORD }}@e.coding.net/cats-team/adguard/AdRules.git
          git fetch --unshallow origin
          git push -u origin --all

